$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

canvas {
  display: block;
  position: absolute;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.background {
  z-index: auto;
}

.foreground {
  z-index: 1;
}
